---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Luke Davies">
	<div class="flex flex-col gap-4">
		<img src="/folioImg.jpg" alt="Luke Davies Headshot" class="rounded-3xl w-48" />
		<div>
			<h1>Luke Davies</h1>
			<span class="lg:text-lg mb-2">Briar Cliff Computer Science Student '25</span> <br />
			<a href="https://github.com/LukeDavies12" class="mr-4">Github Account</a> <a href="https://www.upwork.com/freelancers/~01b56fec140fa5db7b?viewMode=1">Upwork</a>
		</div>
		<div class="mt-8">
			<hr class="mb-8">
			<div>
				<p class="mb-8">
					Interested in software engineering and automation.
					Currently involved with football and Men's Faith Club at Briar Cliff University (Sioux City, IA).
					Will be interning at <a href="https://empiricalfoods.com/">Empirical</a> in Summer '23.
				</p>
				<a href="/Luke Davies Resume_portfolio.pdf" download>
					<button 
					class="px-8 py-2 font-medium text-white bg-blue-500 rounded-md mb-2">Download My Resume</button> <br />
				</a>
				<a href="/about">More About Me</a>
			</div>
		</div>
	</div>
</BaseLayout>

<style>
</style>